.hero-box {
  background-image: url("https://cdn.shopify.com/s/files/1/0268/1031/8896/products/301_fba92350-9e6e-4d93-806c-1cd85616b66c_1024x1024@2x.jpg?v=1640326584");
  height: 400px;
  background-size: cover;
}
